body {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/046/838/759/large/alex-waller-blackjack-background.jpg?1646109334");
}

#players-page-header {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(165, 173, 173);
  text-align: center;
  margin-top: 140px;
}

#players-form-div {
  text-align: center;
  background-color: silver;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

#player-msg-div {
  text-align: center;
  font-size: x-large;
  color: darkgrey;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-top: 50px;
}

#player-header {
  color: white;
  font-weight: 500;
  margin-bottom: 25px;
  margin-top: 25px;
  background-color: black;
  margin-right: 25px;
  height: 50px;
  width: 200px;
  border-radius: 12px;
}

#player-header:hover {
  color: aqua;
  background-color: rgb(39, 40, 41);
}

li:hover {
  color: aqua;
}

.player-img {
  margin-bottom: 25px;
  border-radius: 12%;
}

#single-player-div {
  text-align: center;
}

.edit-player-btn {
  color: white;
  font-weight: 500;
  margin-top: 25px;
  margin-right: 25px;
  background-color: black;
  height: 50px;
  width: 125px;
  border-radius: 12px;
}

.edit-player-btn:hover {
  color: aqua;
  background-color: rgb(39, 40, 41);
}

.delete-player-btn {
  color: white;
  font-weight: 500;
  margin-top: 25px;
  margin-right: 25px;
  background-color: black;
  height: 50px;
  width: 125px;
  border-radius: 12px;
}

.delete-player-btn:hover {
  color: aqua;
  background-color: rgb(39, 40, 41);
}

.ind-player-header {
  color: rgb(165, 173, 173);
}

.ind-player-img {
  border-radius: 12%;
}

.edit-submit-btn {
  color: white;
  font-weight: 500;
  margin-bottom: 25px;
  background-color: black;
  height: 50px;
  width: 200px;
  border-radius: 12px;
}

.edit-submit-btn:hover {
  color: aqua;
  background-color: rgb(39, 40, 41);
}

#edit-submit-div {
  text-align: center;
}

.ind-player-hometown {
  color: rgb(165, 173, 173);
}

.ind-player-bio {
  color: rgb(165, 173, 173);
}

#welcome-div {
  text-align: center;
}

#welcome-div-header {
  color: rgb(165, 173, 173);
}
