body {
  background-color: rgb(37, 44, 73);
  color: gold;
}

#casino-war-header-one {
  text-align: center;
}

#casino-war-start-div {
  text-align: center;
}

#casino-war-money-bet-div {
  text-align: center;
}

#cw-money-bet-header {
  margin-bottom: 20px;
}

#cw-money-bet-form-label {
  margin-right: 10px;
  font-size: larger;
}

#cw-money-bet-form-input {
  margin-right: 10px;
}

#cw-money-bet-msg {
  margin-bottom: 10px;
  font-size: larger;
}

#casino-war-start-game-div {
  text-align: center;
}

#casino-war-dealer-div {
  text-align: center;
  margin-top: 50px;
}

#casino-war-dealer-div-2 {
  text-align: center;
  margin-top: 50px;
}

#casino-war-player-div {
  text-align: center;
  margin-top: 50px;
}

#casino-war-player-div-2 {
  text-align: center;
  margin-top: 50px;
}

#casino-war-result-div {
  text-align: center;
}

#cw-result-btn {
  margin-right: 20px;
}
